


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="hero" style="margin-bottom: 5%">
  <div class="hero-inner">
    <img src="assets/img/pulseCam-removebg.png" class="pulseCam" alt="">
  </div>
</section>


<div class="card-deck" fxLayout fxLayoutAlign="center center" style="margin-left: 2vw; margin-bottom: 10%">
  <div class="card border-light mb-3" style="max-width: 20rem;">

    <div class="card-body">
      <div class="card-title" style="text-align: center"><span class="fa-solid fa-user fa-5x"></span></div>
      <p class="card-text" style="margin-top: 15%">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 20rem;">

      <div class="card-body">
        <div class="card-title" style="text-align: center"><span class="fa-solid fa-user fa-5x"></span></div>
        <p class="card-text" style="margin-top: 15%">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
      <div class="card border-light mb-3" style="max-width: 20rem;">

        <div class="card-body">
          <div class="card-title" style="text-align: center"><span class="fa-solid fa-user fa-5x"></span></div>
          <p class="card-text" style="margin-top: 15%">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

        </div>
    </div>

