

<div class="col-md-12" *ngIf="authService.userData as user" fxLayout fxLayoutAlign="center center">
<img class="align-self-start mr-10 img-thumbnail rounded-circle" style="margin-top: 2%" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
     alt="{{user.displayName}}">
</div>
<div class="col-md-12" *ngIf="authService.userData as user" fxLayout fxLayoutAlign="center center">
  <div class="media" style="margin-left: 5%; margin-top: 1%">

    <div class="media-body">
      <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
    </div>
  </div>
</div>
